header{
    padding: 10px 1px;
    width: 100%;  
  }
  header div{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header div img{
    width: 150px;
  }
  header div a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: auto 5px;
  }